*{
    box-sizing: border-box;

}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #EA526F;
}
h1, h2, h3, h4 {
    text-align: center;
    color: #FCEADE;
}

p{
    text-align: center;
    color:#FCEADE;
}

ul{
    text-align: left;
}

.parent{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #25CED1;
    border-radius: 5px;
    border: 5px #ff8a5b solid;
}

.results-div{
    width: 80%;
    justify-content: center;
}

img{
    width: 100%;
}
.child{
    flex-grow: 1;
}

a{
    align-content: center;
}

.results{
    border: 5px #ff8a5b solid;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    width: 80%;
}

.js-beer-results-list > div{
    flex: 1;
    border: none;
    max-width: 100%;
    padding: 0;
}

.js-beer-results-list{
    display: flex;
    flex-flow:column;
    border: none;
    align-items: center;
}

.beer-img{
    width: 30%;

}

form{
    background-color: #25CED1;
}

form label{
    margin-top: 5px;
    background-color: #25ced1;
    text-align: center;
}

form input[type="checkbox"]+ label{
    font-size: 16px;
    
}

form input[type="text"]{
    font-size: 16px;
    width: 100%;  
}

button{
    padding: 1em;
    background-color: #FCEADE;
    margin: 20px auto;
    display: block;
    border: none;
    background-color: #FF8A5B;
    color:#FCEADE ;
    border-radius: 1px;
}

div{
    margin: 2%;
    border: 5px #FF8A5B solid;
    border-radius: 10px;
    padding: 2%;
    background-color: #25ced1;
    width: 95%;
}

center{
    text-align: center;
    align-content: center;
    align-items:center;
}

hr{
    width: 50%;
}

.hidden{
    display: none;
}

@media screen and (min-width: 600px) {

    section{
        max-width: 600px;
        margin:auto;
    }
    .parent{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding:10px;
        margin: auto;
        justify-content: center;
    }
     
    .child{
        flex-grow: 1;
        margin: 5px;
    }

    img{
        width: 50%;
    }

    .results{
        border: 5px #ff8a5b solid;
        padding: 1px;
        border-radius: 5px;
        margin: auto 600px;
        width: 100%;
    }

    form input[type="checkbox"]+ label{
        font-size: 16px;
        display: inline;
    }
    
    .hidden{
        display: none;
    }
}