:root {
    --background-pink:#F34B52;
    --header-white:#FFFEFE;
    --text-color:#000000;
    --background-light:#FFFFFF;
    --border-color:#26CED1;
    --background-orange:#FF7F4E; 
}

*{
    box-sizing: border-box;
}


/*.....LAYOUT....*/
section{
    max-width: 400px;
    margin:auto;
}

.parent{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    background-color: var(--background-orange);
    border: 10px var(--border-color) solid;
    border-radius: 10px;
    max-width: fit-content;
}

.child{
    flex-grow: 1;
    margin:20px;
}

.beer-child{
    text-align: center;
    margin:0 auto;
    padding: 0;
    border:2px;
}

div{
    margin: 2%;
    border: 10px var(--border-color) solid;
    border-radius: 10px;
    padding: 2%;
    background-color: var(--background-light);
    width: 95%;
}

.results{
    border: 5px var(--border-color) solid;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    width: 80%;
}

.results-div{
    width: 80%;
    justify-content: center;
}

.js-beer-results-list{
    display: flex;
    flex-flow:column;
    border: none;
    align-items: center;
}

.hidden{
    display: none;
}
/*.....TYPOGRAPHY....*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:var(--background-pink);
}

h1 {
    text-align: center;
    color: var(--header-white);
}

h4, h2, h3 {
    text-align:center;
    color:var(--text-color);
}

p{
    text-align: center;
    color:var(--text-color);
    font-size:18px;
}

ul{
    text-align: left;
}

/*.....FORM STYLING....*/
form{
    background-color:var(--background-orange);
}

form label{
    display: block;
    margin-top: 5px;
    background-color: var(--background-light);  
}

form input[type="text"]{
    font-size: 16px;
    width: 100%;  
}

button{
    padding: 1em;
    margin: 10px auto;
    display: block;
    border: none;
    background-color: var(--background-pink);
    color:var(--header-white);
    border-radius: 2px;
}

/*.....IMAGE STYLING....*/


img{
    width: 90%;
}

.beer-child > img{
    width: 20%;
    height: 20%;
}

/*....HORIZONTAL RULE....*/


hr{
    width: 50%;
}



@media screen and (min-width: 600px) {

    section{
        max-width: 600px;
        margin:auto;
    }


    .parent{
        display: flex;
        flex-flow: row wrap;
        padding:10px;
        margin: auto;
        justify-content: center;
    }

     #js-results{
         max-width: fit-content;
     }

    .beer-child{
        display: block;
        flex-grow: 1;
        margin: 2px;
        width: min-content;
        text-align: center;

    }

    .beer-child > img{
        width: 20%;
        margin: 5px auto;
        
    }
    .child{
        flex-grow: 1;
        margin: 5px;
        max-width: 100%;
    }

    .head-child{
        flex:1 0 100%;
    }

    img{
        width: 50%;
        align-content:center;
        margin: 10px;
    }

    .results{
        border: 5px var(--border-color) solid;
        padding: 1px;
        border-radius: 5px;
        margin: auto 600px;
        width: 100%;
    }


    form label{
        display: block;
        margin-top: 5px;
        font-size: 20px;
        background-color: var(--background-light); 
        display: inline-block; 
    }

    .js-beer-results-list{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items:baseline;
        padding:0;
        margin:auto;

    }

    .hidden{
        display:none;
    }

    .recipe{
        justify-content: center;
        text-align:center;
    }
}


/*.....LINK STYLING....*/

a:link {
    color: #0a5455;
    background-color: transparent;
  }
  
  a:visited {
    color: #0a5455;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #FF8A5B;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #26CED1;
    background-color: transparent;
    text-decoration: underline;
  }
